@import url('product.css');
@import url('userpage.css');

body {
    padding: 70px;
}

.main-header {
    text-align: center;
    padding: 5px;
    text-shadow: 2px 2px 2px #ffc9f5;
}

.product-thumbnail-header {
    text-align: left;
    text-transform: lowercase;
}

.product-thumbnail-header:hover {
    text-shadow: 2px 2px 2px #ffc9f5;
}

.navbar {
    opacity: 0.85
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.footer {
  position: fixed;
  text-align: center;
  padding:5px;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  opacity: 0.85
}

.text-muted {
    margin: 15px 0;
}

.media-object {
    width: 72px;
    height: 72px;
}

.table-responsive{
  margin-top:25px;
}

.order-history-box{
  border: 1px #ddd solid;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.order-history-heading{
  border: 1px #ddd solid;
  background-color: #f6f6f6!important;
  margin: -1px;
  padding-top: 10px;
  border-radius: 10px 10px 0 0;

}

.product-icon{
  margin: 5px;
}


.hidden {
    display: none;
}

.unhidden {
    display: block;
}

.add-padding{
  padding: 70px;
}

.btn-primary {
  background-color: #23284f!important;
  border-color: #23284f!important;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url('../space.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    opacity: .9;
}








